BasedOnStyle: Google
IndentWidth: 2
TabWidth: 2
UseTab: Always
ColumnLimit: 70
MaxEmptyLinesToKeep: 1
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AlwaysBreakAfterReturnType: TopLevelDefinitions
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterFunction: true
  AfterControlStatement: Never
  AfterEnum: true
  BeforeElse: false
